@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Why do Java developers need glasses? Because they don't C#</p>
<img src="~/images/monkey.jfif" alt="Highly Trained Monkey" class="img-fluid" />
